* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 500px;
    max-height: 300px;
}
header {
    background-color: #2d6ac5;
    color: white;
    font-size: 24px;
    padding: 30px 200px;
    justify-content: space-between;
    display: flex;
}
.logo {
    text-align: left;
    font-weight: bold;
}
.navigation {
    text-align: right;
    word-spacing: 50px;
    font-weight: normal;
    padding-top: 30px;
}
.navigation a:hover {
    color: rgb(209, 209, 209);
}
main {
    padding: 124px 200px;
    background-color: #f8f8f8;

}
.main_content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.iphone, .samsung, .xiaomi {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    flex: 1;
}
button {
    background-color: #2d6ac5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #1b4e8c;
}
footer {
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
    padding: 50px 200px;
    justify-content: space-between;
    display: flex;
}